<form (ngSubmit)="onSubmit()" class="order-form">
  <div class="form-group">
    <label for="customerId" class="form-group__label">ID del Cliente</label>
    <input
      id="customerId"
      [(ngModel)]="order.customer.id"
      name="customerId"
      required
      class="form-group__input"
    />
  </div>
  <div class="form-group">
    <label for="dishes" class="form-group__label">Platos de la Orden</label>
    <select
      id="dishes"
      [(ngModel)]="order.dishes"
      name="dishes"
      multiple
      class="form-group__input"
    >
      <option *ngFor="let dish of availableDishes$ | async" [ngValue]="dish">
        {{ dish.name }}
      </option>
    </select>
  </div>
  <lib-card-btn
    [action]="'update'"
    [entityName]="'Orden'"
    type="submit"
  ></lib-card-btn>
</form>
