<nav class="breadcrumb" aria-label="Breadcrumb navigation">
  <ol class="breadcrumb__list">
    <ng-container
      *ngFor="let item of displayItems; let last = last; let i = index"
    >
      <li class="breadcrumb__item" [class.breadcrumb__item--current]="last">
        <ng-container *ngIf="!last && item.url">
          <a [routerLink]="item.url" class="breadcrumb__link">
            <i *ngIf="item.icon" class="breadcrumb__icon {{ item.icon }}"></i>
            <span class="breadcrumb__label">{{ item.label }}</span>
          </a>
        </ng-container>

        <ng-container *ngIf="last || !item.url">
          <span class="breadcrumb__text">
            <i *ngIf="item.icon" class="breadcrumb__icon {{ item.icon }}"></i>
            <span class="breadcrumb__label">{{ item.label }}</span>
          </span>
        </ng-container>

        <!-- Separator between items -->
        <span *ngIf="!last" class="breadcrumb__separator" aria-hidden="true"
          >/</span
        >
      </li>
    </ng-container>
  </ol>
</nav>
